<%- include('partials/header.ejs') %>
    <main>

        <%- include('partials/searchTemplate.ejs') %>
        <h1>
            <%= title %>
        </h1>
        <span class="msg">
            <%= msg %>
        </span>


        <% data.forEach(element=> { %>
            <article class="container">
                
                <img class="avatar" src="<%= element.authavatar %>"/>
                <div class="topSideInfo">
                    <span class="name">@<%= element.name %></span>
                    <div class="dateAndHashtag">
                        <span><%= element.date %></span>
                        <span>#<%= element.category %></span>
                    </div>
                </div>
                <div class="content">
                    <%= element.content %>
                </div>
                <img class="entryImage" src="<%= element.entryimage %>" alt="Imagen de la entrada">
                <div class="botSideInfo">
                    <div class="respuestas">
                     <img alt="icono bocata" src="/media/chaticon.png">
                    <span>
                        <%= element.replies %> respuestas
                    </span>   
                    </div>
                    
                    <a href="/viewone/<%= element.id_entry %>">
                        Ver hilo
                    </a>
                </div>
            </article>
            <% }) %>
                <div class="pages">
                    <% for( let index=1; index <=pages; index++ ) { %>

                        <a class="pageButton" href="/entries?pag=<%= index %>">
                            
                                <%= index %>
                            
                        </a>

                        <% } %>
                    </div>

    </main>
    <%- include('partials/footer.ejs') %>