<%- include('partials/header.ejs') %>
<main>
    <h1>
        <span class="firstTitle">
            Todas tus
        </span>
        <span class="secondTitle">
            Entradas
        </span>
    </h1>
    <span class="msg">
        <%= msg %>
    </span>




<% data.forEach((element, index) => { %>
    <article class="container">
                
        <img class="avatar" src="<%= element.authavatar %>"/>
        <div class="topSideInfo">
            <span class="entryTitle">
                <%= element.title %>
            </span>
            <span class="name">@<%= element.name %></span>
            <div class="dateAndHashtag">
                <span><%= element.date %></span>
                <span>#<%= element.category %></span>
            </div>
        </div>
        <div class="content">
            <%= element.extract %>
        </div>
        <img class="entryImage" src="<%= element.entryimage %>" alt="Imagen de la entrada">
        <div class="botSideInfo">
            <span>
                5 respuestas
            </span>
            <a href="/viewone/<%= element.id_entry %>">
                Ver hilo
            </a>
        </div>
    </article>
<% }) %>
</main>
<%- include('partials/footer.ejs') %>