<%- include('partials/header.ejs') %>
<main class="main delete">

        <h1>
            <span class="firstTitle">
                Búsqueda de
            </span>
            <span class="secondTitle">
                Entradas
            </span>
        </h1>
        <span class="msg">
            <%= msg %>
        </span>
        <div class="divSearch">
            <%- include('partials/searchTemplate.ejs') %>
        </div>

        <% if (query) { %>
            <% data.forEach(element=> { %>
                <div class="container">

                    <img class="avatar"
                        src="<%= element.authavatar %>" />
                    <div class="topSideInfo">
                        <span class="name">@<%= element.name %></span>
                        <div class="dateAndHashtag">
                            <span>
                                <%= element.date %>
                            </span>
                            <span>#<%= element.category %></span>
                        </div>
                    </div>
                    <div class="content">
                        <%= element.content %>
                    </div>
                    <img class="entryImage" src="<%= element.entryimage %>" alt="Imagen de la entrada">
                    <div class="botSideInfo">
                        <img alt="icono bocata" src="/media/chaticon.png">
                        <span>
                            <%= element.replies %> respuestas
                        </span>
                        <a href="/viewone/<%= element.id_entry %>">
                            Ver hilo
                        </a>
                    </div>
                </div>
                <% }) %>
                    <% } %>
    <section class="trendSection">
        <div class="entriesHeader">
            <span>
                Tendencias
            </span>
        </div>
        <span class="trendsTitle">
            Tendencias de España
        </span>
        <div class="trends">

            <% for( let index = 0; index < trends.trends.length; index++ ) { %>
                <div class="trendsContainer">
                <span class="trendCat">

                   <%= index + 1 %> -<a class="noDec" href="/categories/<%= trends.trends[index].category %>">
                        <%= trends.trends[index].category %>
                    </a>
                    - Tendencia
                </span>

                <span class="trendTitle">
                <a class="noDec" href="/viewone/<%= trends.trends[index].id_entry %>">
                    
                        <%= trends.trends[index].title %>
                    </a>
                    </span>
                
        
                <span class="trendPosts">
                    <%= trends.trends[index].replies %> posts 
                </span>
            </div>
            <% } %>
    </div>
    </section>
    </main>
    <%- include('partials/footer.ejs') %>